asgiref==3.11.0
certifi==2026.1.4
charset-normalizer==3.4.4
Django==4.2.27
djangorestframework==3.14.0
idna==3.11
pillow @ file:///C:/Users/letan/Desktop/lephat1898/wheels/pillow-12.1.0-cp314-cp314-win_amd64.whl
psycopg2-binary==2.9.11
python-dotenv==1.2.1
requests==2.32.5
sqlparse==0.5.5
stripe==14.3.0
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
django-cors-headers==4.3.1
celery==5.3.6
redis==5.0.1
