{% extends 'store/base.html' %}
{% block title %}Contact - Paint Store{% endblock %}
{% block content %}
  <h3>Contact Us</h3>
  <p>Address: 392 TL10, Bình Trị Đông, Bình Tân, Thành phố Hồ Chí Minh, Việt Nam</p>
  <p>Phone: 1900-xxxx</p>
  <div class="ratio ratio-16x9">
    <iframe
      src="https://www.google.com/maps?q=10.7569515,106.6221241&z=17&output=embed"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
  </div>
  <p class="mt-2"><a href="https://www.google.com/maps/place/392+TL10,+B%C3%ACnh+Tr%E1%BB%8B+%C4%90%C3%B4ng,+B%C3%ACnh+T%C3%A2n,+Th%C3%A0nh+ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/@10.7569568,106.6195492,17z/data=!3m1!4b1!4m6!3m5!1s0x31752c2ec14b688b:0xe43d34f4d14c3f98!8m2!3d10.7569515!4d106.6221241!16s%2Fg%2F11rp3djv_1?entry=ttu&g_ep=EgoyMDI2MDEyOC4wIKXMDSoASAFQAw%3D%3D">Open in Google Maps</a></p>
{% endblock %}